flask
flask-restful
flask-restful-swagger-2
flask-migrate
flask-sqlalchemy
flask-marshmallow
flask-jwt-extended
spidev
gpiozero
RPi.GPIO
adafruit-circuitpython-motorkit
adafruit-blinka
Adafruit_MotorHAT
marshmallow-sqlalchemy
passlib
tox
